.streak-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent; /* Transparent since it's in a card already */
    border-radius: 10px;
    width: 100%;
    gap: 8px;
    padding: 0;
}

.streak-container h3 {
  margin: 0; /* Remove default margin */
  padding-bottom: 5px; /* Adjust spacing if needed */
}
  
.streak-circle {
  margin: 0;
  width: 100px;
  height: 60px;
  line-height: 60px;
  border-radius: 12px; /* Changed from circle to rounded rectangle */
  background-color: #cb72ff;
  color: white;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  border: 2px solid rgba(72, 72, 72, 0.521);
}
